*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
  }

/*apply styles to the <header> Flexbox*/
header{
    padding: 25px 35px;
    background-color: #353636;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;

}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    
}
header a {
    color: #fce138;
}
header a{
    text-decoration: none;
    color: #fce138;
}
header nav{
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
/*hero style start*/
.hero{
    background-image: url(../assets/jr-korpa-9XngoIpxcEo-unsplash.jpg);
    background-size: cover;
display: flex;
justify-content: center;
flex-wrap: wrap;
}
section div h2{
    margin: 10px;
    padding: 10px;
}
section div h3{
    margin-left: 20px;
    padding: 15px;
}

/*about me */


.step{
    background: #353636;
}
.section-title {
  font-size: 55px;
  color: #0b0c0e;
  border-bottom: 3px solid;
padding-bottom: 20px;
text-align: center;
margin: 0 auto 35px auto;
width: 50%;
}
.step p{
    justify-content: center;
}

.primary.border {
  border-color: #fce138;
}

.secondary.border {
  border-color: #1a1d1d;
}
.steps{
    margin-bottom: 80px;

}

.step h3{
    color: #fce138;
    font-size: 46px;
}
.step-text p{
    color: #050707;
    font-size: 18px;
}
/*contact me*/
.contact{
    display: flex;
    justify-content: center;
}
.hero-form p{
    margin: 5px 0 15px 0;
}
.form-input{
    display: flex;
    padding: 7px 15px;
    font-size: 16px;
    color: black;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.form label{
    margin: 0 5px;
}
.butn{
    color: black;
    background-color:#fce138;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}


/*Wrapping the footer and adding FLexbox*/
footer{
    background-color: #353636;
    width: 100%;
    padding: 40px 35px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer h2{
    color: #bebb0b;
    font-size: 30px;
    margin: 0;
}
footer div{
    line-height: 1.5;
    text-align: right;
}
/*footer ends here*/
.flex-row {
    display: flex;
  }
  